<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">İletişim</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="column one-second column_contect_box">
                                               <i style="font-size:24px" class="fa">&#xf041;</i>
                                             <h3 class="section-subheading text-muted">Adres: </h3>
                                            <h3 class="section-subheading text-muted">Cinnah Caddesi 19/10 Çankaya/ANKARA</h3>
                                              </div>
                                         <div class="column one-second column_contect_box">
                                            <i style="font-size:24px" class="fa">&#xf2a0;</i>
                                            <h3 class="section-subheading text-muted">Tel:  </h3>
                                                <h3 class="section-subheading text-muted">0312 426 36 08</h3>
                                           </div>
                                            
                                                      <div class="column one-second column_contect_box">
                                         <i style="font-size:24px" class="fa">&#xf10b;</i>
                                            <h3 class="section-subheading text-muted">Cep Tel:</h3>
                                             <h3 class="section-subheading text-muted">0534 765 38 49</h3>
                                           </div>
                                             <div class="column one-second column_contect_box">    
                                         <i style="font-size:24px" class="fa">&#xf003;</i>
                                            <h3 cclass="service-heading">Email:</h3>
                                             <h3 class="section-subheading text-muted">zbyyapi@gmail.com</h3>
                                           </div>              
                                                 
                                        </div> 
                            </div>
                          
                            
                    </form>
                </div>
            </div>
        </div>
    </section>
